{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Accueil{% endblock %}

{% block body %}

{% for page in home_pages %}
<section class="main flux">
    <h1 class="main__title">{{page.pageTitle}}</h1>
    <p class="main__text-presentation">{{page.welcomeText}}</p>
</section>

<section class="description flux">
    <h2 class="description__title">{{page.aboutTitle}}</h2>
    <p class="description__text-presentation">{{page.aboutText}}</p>
</section>

<section class="famous-dishes flux">
    <h2 class="famous-dishes__title">{{page.sectionDishesTitle}}</h2>
    <p class="famous-dishes__text-presentation">{{page.sectionDishesText}}</p>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_home_page_edit', {'id': page.id}) }}" class='main-modification__modifier'>Modifier les informations de présentation</a>
    {% endif %}
    {% endfor %}
    {% for dish in famous_dishes %}
    <div class="famous-dish-card">
        <div class="famous-dish-card__view">
            <img class="famous-dish-card__view--image" src="{{ vich_uploader_asset(dish, 'imageFile') }}" alt="{{dish.name}}">
        </div>
        <div class="famous-dish-card__description">
            <h3 class="famous-dish-card__description--title">{{dish.name}}</h3>
            <p class="famous-dish-card__description--text-presentation">{{dish.description}}</p>
        </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class='famous-dish-card__modification'>
        <a href="{{ path('app_famous_dishes_edit', {'id': dish.id}) }}" class='famous-dish-card__modification--modifier'>Modifier</a>
        <a href="{{ path('app_famous_dishes_delete', {'id': dish.id}) }}" class='famous-dish-card__modification--delete'>Supprimer</a>
    </div>
    {% endif %}
    </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_famous_dishes_new') }}" class='famous-dish-card__modification--add'>Ajouter un plat</a>
    {% endif %}
    <a href="{{ path('app_reservation') }}" class="btn-reservation">Réserver une table</a>
</section>

{% endblock %}
