{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Index des plats phares{% endblock %}

{% block body %}
    <h1 class='famous-dishes-index__title'>Index des plats phares.</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for famous_dish in famous_dishes %}
            <tr>
                <td>{{ famous_dish.id }}</td>
                <td>{{ famous_dish.name }}</td>
                <td>{{ famous_dish.description }}</td>
                <td>{{ famous_dish.imageName }}</td>
                <td>
                    <a href="{{ path('app_famous_dishes_show', {'id': famous_dish.id}) }}">show</a>
                    <a href="{{ path('app_famous_dishes_edit', {'id': famous_dish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_famous_dishes_new') }}">Create new</a>
{% endblock %}
