{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Plat phare{% endblock %}

{% block body %}

<section class="famous-dish-show">
    <h1 class='famous-dish-show__title'>{{famous_dish.name}}</h1>
    <div class='famous-dish-show__flux'>
        <div class='flex-center famous-dish-show__field'>
            <p class='famous-dish-show__field--name'>Image: </p>
            <img class="famous-dish-show__field--image" src="{{ vich_uploader_asset(famous_dish, 'imageFile') }}" alt={{famous_dish.name}}>
        </div>
        <div class='flex-center famous-dish-show__field'>
            <p class='famous-dish-show__field--name'>Nom du plat: </p>
            <p class="famous-dish-show__field--info">{{famous_dish.name}}</p>
        </div>
        <div class='flex-center famous-dish-show__field'>
            <p class='famous-dish-show__field--name'>Description du plat: </p>
            <p class="famous-dish-show__field--info">{{famous_dish.description}}</p>
        </div>
        <div class='flex-center famous-dish-show__modification'>
            <a href="{{ path('app_dishes_index') }}" class='btn famous-dish-show__modification--button'>Retour à la liste des plats</a>
            <a href="{{ path('app_dishes_edit', {'id': famous_dish.id}) }}" class='btn famous-dish-show__modification--button'>Modifier</a>
        </div>
    </div>
    {{ include('famous_dishes/_delete_form.html.twig') }}
</section>

{% endblock %}
